<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.likingapp">

    <application
        android:name=".LikingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LikingAppNoBar">
        <activity android:name=".model_view_presenter.register_person.RegisterPersonActivity"/>
        <activity android:name=".model_view_presenter.simple_api_call.SimpleAPICallActivity" />
        <activity android:name=".model_view_presenter.people_list.PeopleListActivity" />
        <activity android:name=".model_view_presenter.register_email.RegisterEmailActivity" />
        <activity android:name=".model_view_presenter.splash_screen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".model_view_presenter.loginup_register.LoginUpRegisterActivity" />
    </application>

</manifest>